.selectBox {
    max-width: 340px;
    margin-block-end: 17px;
}

.select {
    width: 100%;
    min-width: 340px;
    max-width: 340px;
    min-height: 56px;
    margin-block: 8px;
    border: 1px solid #8B8F98;
    border-radius: 5px;
    padding: 16px 12px;
    outline: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select:hover {
    border: 1px solid #3452B4;
}

.select::placeholder {
    color: #8B8F98;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.select:hover::placeholder {
    color: #828BAB;
}

.select:focus {
    outline: none;
}

.select:focus-visible {
    border: 1px solid #3452B4;
}

.select:disabled {
    border: 1px solid #C0C6D1;
    color: #8B8F98;
    background-color: #E1E4EB;
    cursor: not-allowed;
}

.selectErrorText {
    opacity: 0;
    color: #E03A15;
    font-size: 12px;
    line-height: 18px;
}

.selectError {
    border: 1px solid #E03A15;
}

.selectDone {
    border: 1px solid #00A35F;
}

