@import "reset.css";
@import "../assets/fonts/fonts.css";



.app {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    font-family: 'Inter-Variable', sans-serif;
    font-weight: 400;
    background-color: #fff;
}

label {
    color: #8B8F98;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}