.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.checboxWrapper {
    display: flex;
    width: 340px;
    max-width: 340px;
    margin-block-start: 8px;
}

.checkSpan {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-inline-end: 12px;
    border: 1px solid #C0C6D1;
    border-radius: 2px;
    vertical-align: middle;
}

.textchecbox {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}


.checkboxLink {
    color: #3452B4;
}

.checkboxLink:hover {
    text-decoration: underline;
}

.checkboxLink:active {
    color: #1E378B;
}

.checkboxLink:disabled {
    color: #8B8F98;
}

.checkSpan:hover {
    border: 1px solid #1E378B;
}

.checkSpan:active {
    border: 1px solid #1E378B;
    box-shadow: 0 0 0 3px #C8D5FF;
}


input[type="checkbox"]:disabled + span {
    border: 1px solid #C0C6D1;
    background-color: #E1E4EB;
}

input[type="checkbox"]:disabled:hover + span {
    border: 1px solid #C0C6D1;
    background-color: #E1E4EB;
}

input[type="checkbox"]:checked:disabled + span {
    background-image: url("./static/checkboxDisabled.svg");
}

input[type="checkbox"]:checked:disabled:hover + span {
    border: none;
    background-image: url("./static/checkboxDisabled.svg");
}

input[type="checkbox"]:checked + span {
    border: none;
    background-image: url("./static/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

input[type="checkbox"]:checked:hover + span {
    background-image: url("./static/checkboxHover.svg");
}