.visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.checboxWrapper {
    margin-block-start: 8px;
    max-width: 340px;
    display: flex;
    width: 340px;
}

.checkSpan {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #C0C6D1;
    border-radius: 2px;
    margin-inline-end: 12px;
}


.checkboxLabel {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000;

}

.textchecbox {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000;

}


a {
    color: #3452B4;

}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #1E378B;
}

a:disabled {
    color: #8B8F98;
}

.checkSpan:hover {
    border: 1px solid #1E378B;
}

.checkSpan:active {
    border: 1px solid #1E378B;
    box-shadow: 0 0 0 3px #C8D5FF;
}


input[type="checkbox"]:disabled + span {
    background-color: #E1E4EB;
    border: 1px solid #C0C6D1;
}

input[type="checkbox"]:disabled:hover + span {
    background-color: #E1E4EB;
    border: 1px solid #C0C6D1;
}

input[type="checkbox"]:checked:disabled + span {
    background-image: url("./static/checkboxDisabled.svg");
}

input[type="checkbox"]:checked:disabled:hover + span {
    background-image: url("./static/checkboxDisabled.svg");
    border: none;
}

input[type="checkbox"]:checked + span {
    background-image: url("./static/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}

input[type="checkbox"]:checked:hover + span {
    background-image: url("./static/checkboxHover.svg");
}