.button {
    width: 33%;
    min-width: 169px;
    min-height: 46px;
    margin-block-start: 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #3452B4;
    cursor: pointer;
}


.button:hover {
    background: #1E378B;
}

.button:active {
    background: #5B76CF;
}

.button:disabled {
    color: #8B8F98;
    background: #E1E4EB;
    cursor: not-allowed;
}