.imgWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}


.img {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
}

.fromWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50%;
}

.Column {
    flex-direction: column;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerText {
    max-width: 340px;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-align: left;
}

.mainText {
    max-width: 340px;
    margin-block-start: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.buttonMargin {
    max-width: 235px;
    margin-inline-end: 110px;
}

.buttonSelf {
    align-self: flex-start;
}

@media (width <= 760px) {
    @media (max-width: 760px) {
        .imgWrapper {
            display: none;
        }
        .fromWrapper {
            width: 100%;
            margin-left: 0;
        }
    }

}

